<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/universal-binary-json-java/src/benchmark/java/org/ubjson/io/MediaContentBenchmark.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.ubjson.io.MediaContentBenchmark"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-profile"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="universal-binary-json-java"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms1024m -Xmx1024m -Xrunhprof:heap=sites,cpu=samples,depth=11"/>
</launchConfiguration>
